<!DOCTYPE html>
<html>
  <head>
    <title>Register</title>
    <style>
      /* CSS for form styling */
      form {
        border: 2px solid black;
        padding: 20px;
        margin: 50px auto;
        width: 500px;
      }
      label {
        display: block;
        margin-bottom: 10px;
      }
      input[type="text"], input[type="email"], input[type="password"] {
        width: 95%;
        padding: 10px;
        margin-bottom: 20px;
        border: 1px solid black;
        border-radius: 5px;
        font-size: 16px;
      }
      button[type="submit"] {
        background-color: #4CAF50;
        color: white;
        padding: 10px 20px;
        border: none;
        border-radius: 5px;
        cursor: pointer;
        font-size: 16px;
        margin-top: 10px;
      }
      /* CSS for animations */
      
      @keyframes fadein {
        from {
          opacity: 0;
        }
        to {
          opacity: 1;
        }
      }
      #register-form {
        animation: fadein 2s;
      }
    </style>
  </head>
  <body>
      <form id="register-form" method="post">
        <h1 id="register-heading">Login</h1>
      <label for="username">Username:</label>
      <input type="text" id="username" name="username" required>
      <label for="password">Password:</label>
      <input type="password" id="password" name="password" required>
      <button type="submit">LogIn</button>
    </form>
  </body>
</html>
